{% extends "auctions/layout.html" %}

{% block body %}
    <h1>{{ auction.name }}</h1>
    <h5>{{ auction.description }}</h5>
    {% if auction_owner %}
        <h6>You are the owner of this auction</h6>
    {% else %}
        <h6>Auction owner: {{ auction.user }}</h6>
    {% endif %}
    <div>
        {% if highest_bid_user %}
            Current bid by {{ highest_bid_user }}: US$ {{ highest_bid_value }}. Initial Bid: US$ {{ auction.minimum_bid }}.
        {% else %}
            No bids yet placed. Initial Bid: US$ {{ auction.minimum_bid }}.
        {% endif %}
        {% if is_authenticated %}
            {% if auction_closed %}
                <h6>Auction closed.</h6>
            {% else %}
                {% if auction_owner %}
                    {% if bids %}
                        <h6>Accept current offer {{ highest_bid_value }}</h6>
                    {% endif %}
                    <h6>Withdraw auction</h6>
                {% else %}
                    <h6>Place a bid!</h6>
                {% endif %}
            {% endif %}
        {% else %}
            <h6>Login to interact with Auction!</h6>
        {% endif %}
    </div>

    {% if auction.image_url %}
        <div>
            <img src="{{ auction.image_url }}" alt="{{ auction.name }}" height="200">
        </div>
    {% endif %}


    <div>
        <h2>Bids:</h2>
        {% if bids %}
            <table class="details-table">
                <thead>
                    <tr>
                        <th>Date Created</th>
                        <th>User</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bid in bids %}
                    <tr>
                        <td>{{ bid.date_created }}</td>
                        <td>{{ bid.user }}</td>
                        <td>US$ {{ bid.value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h6>No bids placed.</h6>
        {% endif %}
    </div>

    <div><h2>Comments:</h2>
        {% if comments %}
            {% for comment in comments %}
                <div>
                    <h6>{{ comment.user }} ({{ comment.date_created }})</h6>
                    <div>{{ comment.text }}</div>
                </div>
            {% endfor %}
        {% else %}
            <h6>No comments yet. Be the first to comment!</h6>
        {% endif %}
    </div>

    <div>
        <form action="post">
            <textarea name="new_comment" id="new_comment" cols="100" rows="2" placeholder="Write your comment here"></textarea>
            <div>
                <input type="submit" value="Add comment">
            </div>
        </form>
    </div>

{% endblock %}